{% extends 'base.html' %}

{% block head %}
<title>Movie Log</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="content">
    <H1>Movie Log</H1>

    {% if tasks|length < 1 %}
      <h4> There Are No Movies Rated Yet. Please Begin To View Movie Recommendations</h4>
    {% else %}

    <table class="styled-table">
      <tr>
        <th>Movie</th>
        <th>Rating Date</th>
        <th>Ratings</th>
        <th>Genre</th>
        <th>Actions</th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date() }}</td>
        <td>{{ task.rating }}</td>
        <td>{{ task.genre }}</td>
        <td>
          <a href="/delete/{{task.id}}">Delete</a>
          <br>
          <a href="/update/{{task.id}}">Update</a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="POST">
      <input type="text"name="content" id="content">
      <input type="radio" id="rating" name="rating" value="Liked">
      <label for="rating">Liked The Movie</label>
      
      <select name="genre" id="genre" placeholder="123-45-678">
        <option value="Action">Action</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="N/A" selected>Choose A Genre</option>
      </select>
      <input type="submit" value="Add Movie">
    </form>
  </div>
</div>
{% endblock %}